.project {
	max-width: 370px;
	background-color: var(--SkillCard-bg);
	box-shadow: var(--box-shadow);
	border-radius: 10px;

   &__img {
      border-radius: 10px;
   }
   
   &__title {
      padding: 15px 20px 25px;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.3;
      color: var(--SkillCard-text);
   }
   
   &__desc {
      padding: 0px 20px 25px;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.3;
      color: var(--SkillCard-text);
   }
}