/* Btn outline */

.btn_outline {
	display: flex;
	column-gap: 10px;
	align-items: center;
	height: 48px;
	padding: 12px 20px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	color: black; 
	transition: opacity 0.2s ease-in;

   &:hover {
      opacity: 0.8;
   }
   &:visited {
      color: black; 
   }
   &:active {
      position: relative;
      top: 1px;
   }
}