@import "/src/styles/sass/base/vars";

/* Header */

.header {
	padding: 40px 0;
	min-height: 695px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--header-bg);
	background-image: var(--header-background-image);
	background-size: 80vh;
	background-repeat: no-repeat;
	background-position: center center;
	color: var(--header-text);
	text-align: center;

   &__wrapper {
      padding: 0 15px;
      max-width: 660px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
   }

   &__title {
      margin-bottom: 20px;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.4;
      
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      text-shadow: -5px -2px rgb(0, 0, 0) , -3px 0px rgb(255, 7, 7), -2px 1px rgb(7, 238, 255);
   
      strong {
         font-size: 60px;
         font-weight: 700;
         /* color: var(--text-color); */
      }
   
      em {
         font-style: normal;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         color: transparent;
         text-shadow: -5px -2px rgb(255, 196, 0) , -3px 0px rgb(255, 7, 7), -2px 1px rgb(7, 238, 255);
      }
   }

   &__text {
      margin-top: 10vh;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.333;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      text-shadow: -5px -2px rgb(255, 196, 0) , -3px 0px rgb(255, 7, 7), -2px 1px rgb(7, 238, 255);
      
      p + p {
         margin-top: 0.5em;
      }
   }
}